header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

nav {
  display: inline-block;
  margin: 20px 40px;

}

nav span {
  display: inline-block;
  padding: 10px;
}

.logo {
  display: flex;
}

#logo-heading {
  color: mediumaquamarine;
  margin: auto 10px;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
}

.main-content {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: -1px 100px;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

.article {
  border: 3px solid black;
}

 .column .large {
  width: 630px;
  background-color: red;
}

.column .medium {
  width: 300px;
}

.column .small {
  width: 240px;
}

.article-heading {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-repeat: no-repeat;
}


.article-body {
  ont-family: Georgia;
  font-size: 170px;
  color: black;
}

#article-1 .article-heading {
  font-size: 40px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}

.mini {
  font-size: 40px;
  display: flex;
  background-repeat: no-repeat;
}

#
